body {
  background-image: url(../src/components/images/background.jpg);
  background-repeat: no-repeat;

}

.Wimbledeon {
  text-align: center;
}
.score {
  display: initial;
  float:right;
  padding-right: 50px;
}
.message {
display: block ;
float: right;
  padding-right: 60px;
}
.tennisNav{
  text-align: right;
  padding-right: 60px;
  margin-right: 40px;

}

.header {
  text-align: center;
  align-content: center;
  display: flow-root;
}
